/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.cycle-wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-bottom: 20px;
}

.home{
  
    
}